{% extends 'base.html.twig' %}

{% block page_title %}Hello World{% endblock %}
{% block page_subtitle %}A simple plugin{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Hello World Plugin</h3>
                </div>
                <div class="box-body">
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
